body {
    margin:0;
    padding:0;   
}
.hidden-content{
    display: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}
img {
    max-width: 100%;
    height: auto;
}
/*-----------Кнопки------------------------*/

.button{
    background-color:#f27452;
    border-radius: 50px;
    color:white;
    text-decoration: none;  
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/*--------Хедер------------*/
.header-flex{
    padding:0;
    margin:0 auto;
    
    display:flex;
    flex-wrap: wrap;
   width:1146px;
    padding-top:9px;
}
/*--------контейнеры центровщики------------*/
.main-container{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:22px;
    color:white;
    
    min-width: 1200px;
    min-height: 100vh;
    background-color: #849d8f;
    background-image: url("../img/main-backround-1.png");
    background-repeat: no-repeat;
    background-position: top center;
  
    transition: background-image 0.5s ease, background-color 0.5s ease;
    
}

.container{
    padding:0;
    width:1146px;
    margin:0 auto;
    position:relative;
    
}
.catalog-container{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:22px;
    color:white;
    min-width: 1200px;
    min-height: 100vh;
    background-color: #849d8f;
    background-image: linear-gradient(to bottom,#9db1a5,#849d8f,transparent 100%);
    z-index: -1;
}
.container-up{
    border-bottom: 1px solid #a9bbb1;
}
/*------------------Основная навигация-----------------*/
.main-navigation{
    padding:0;
    margin:0;
    position: relative;
    margin-right: auto;
}
.main-navigation_list{
    padding:0;
    margin:0;
    margin-top:12px;
    list-style: none;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height:18px;

    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 20;
}
.main-navigation_logo{
    padding:0;
    margin:0;
    margin-left: -1px;
}
.main-navigation_item{
    padding: 9px 3px 20px;
    position: relative;
}
.main-navigation_item:nth-child(2){
    padding: 9px 2px 20px;
    position: relative;
}
.main-navigation_item:nth-child(1){
    padding-left:11px;}
.main-navigation_item:nth-child(3){
    padding-left:2px;}

.main-navigation_item > a{
  position: relative;
    color: white;
    text-decoration: none;
    padding: 6px 12px 7px;
}

.main-navigation_item > a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 12px;
  right: 12px;
  height: 1px;
  background-color: rgba(255,255,255,0.3);
}

.main-navigation_sublist{
    margin: 0;
    padding: 0;
    position: absolute;
    top:38px;
    left:-5px;
    list-style: none;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height:16px;
    visibility: hidden;
    border-radius:5px;
    background-color: white;
}


.sub-menu_item {
    background-color: white;
    border:none;
}

.sub-menu_item>a {
    display: block;
    white-space:nowrap;
    text-decoration: none;
    padding:9px 20px;
}
.sub-menu_item:nth-child(1){
    border-radius: 5px 5px 0 0;
}
.sub-menu_item:nth-child(5){
    border-radius: 0 0 05px 5px;
}
.sub-onpage{
    background-color: #d07058;
}
.onpage>a{
     background-color: #d07058;
    border-bottom: none;
    border-radius: 50px;
    height: 26px;
    border-bottom: none;
}
.onpage>a::before{
    content: "";
    height: 0px;
}
.sub-menu_item a{
    font-weight: 500;
    color:black;
}
.sub-menu_item:nth-child(1)>a{
    font-weight: 700;
    color:black;
    position: relative;
}
.sub-menu_item:nth-child(1)>a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 15px;
  height: 1px;
  background-color: rgba(1,1,1,0.2);
}

.main-navigation_item:hover > a{
   background-color: white;
    border-radius: 50px;
    height: 26px;
}
.main-navigation_item:nth-child(1):hover .main-navigation_sublist{
    visibility: visible;
}
.main-navigation_item:nth-child(1):focus .main-navigation_sublist{
    visibility: visible;

}
.main-navigation_item:hover>a{
    color:black;
    border: none;
}

.main-navigation_item:hover .sub-menu_item:hover{
    background-color: #fbded7;
}

.main-navigation_item:hover .sub-menu_item:active{
    background-color: #f6b5a5;
}
.sub-onpage>a{
    color:white;
}
.sub-menu_item:nth-child(2):hover a{
    color: #000;
}
/*------------------Пользовательская навигация-----------------*/

.user-navigation{
    padding:0;
    margin:0;
    margin-top:14px;
    list-style: none;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height:16px;

    display: flex;
    justify-content: space-between;
    position: relative;
    

}
.user-navigation_item {
    margin: 0;
    padding:0;
    position: relative;
}
.user-navigation_item:nth-last-child(1){
    margin-right: 1px;
}
.user-navigation_item>a{
  background-color: rgba(255,255,255,0.2);
  border-radius: 50px;
  display: inline-block;
  color:white;
  text-decoration: none;
    margin: 0 5px;
}
.user-navigation_item>a:nth-last-child(1){
    margin-right:0;
}
.user-navigation_item>a:hover{
    background-color: #ffffff;
    color:black;
}
.subnav{
    position: relative;
    z-index: 4;
    margin:0;
    margin-top: 16px;
}
.subnav__item{

    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:16px;
    color:white;
}
.user-navigation_item--search>a {
    background-image: url(../img/svg-gllacy/loupe.svg);
    background-repeat: no-repeat;
    background-position: 45% 45%;
    height: 32px;
    width:32px;
    position: relative;
}
.user-navigation_item--login>a {
    background-image: url(../img/svg-gllacy/entrance-white.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 16px 6px;
    padding-left: 44px;
    padding-right:16px;
    
    
    line-height:32px;

    position: relative;
}
.user-navigation_item--cart>a {
    background-image: url(../img/svg-gllacy/basket.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 16px 6px;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right:34px;
    line-height:32px;
}
.user-navigation_item--fullcart>a {
    margin-right: 0;
    background-image: url(../img/svg-gllacy/basket-red.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    background-position: 16px 6px;
    box-sizing: border-box;
    padding-left: 44px;
    padding-right:15px;
    line-height:32px;

    position: relative;
    
    background-color: #ffffff;
    color:black;
}

.user-navigation_item--fullcart:hover .cart-goods{
    visibility: visible;
}
.user-navigation_item--fullcart:focus .cart-goods{
    visibility: visible;
}
.user-navigation_item--search>a:hover{
   background-image: url(../img/svg-gllacy/loupe-black.svg);  
}
.user-navigation_item--login>a:hover{
   background-image: url(../img/svg-gllacy/entrance.svg);
}
.user-navigation_item--cart>a:hover{
  background-image: url(../img/svg-gllacy/basket-black.svg);  
}
/*-------------время работы и телефон---------------*/
.header-contacts{
    padding:0;
    margin:0;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 43px;

    position: absolute;
    top: 73px;
    right: 0px;

}
.main-navigation__info{
    padding:0;
    margin:0;
    margin-bottom:4px;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height:16px; 
    margin-right: 1px;
}

.main-navigation__info--tel{
    padding:0;
    margin:0;

    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height:24px;
    text-decoration: none;
    color:white;
}

/*------------------Форма входа---------------------*/
.login{ 
    visibility:hidden;
    position: absolute;
    z-index: 20;
    top:37px;
    right:1px;
    
    background-color: #f8f7f4;
    width:277px;
    height:215px;
    border-radius: 5px;
    
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
    
}
.login-container{
    width: 241px;
    margin: 0 auto;
    
}
.login_row{
    margin: 0;
    padding:0;
    
    margin-top: 20px;
}
.login_row input{
    border-style: none;
    border:1px solid #d3d3d2;
    border-radius:5px;
    height: 44px;
    width:241px;
    padding-left:15px;
    box-sizing: border-box;
    
}
.login_row input:hover{
    border:2px solid #c7c6c5;
    border-radius:5px;
}
.login_row input:focus {
    border:2px solid #8fbdec;
    border-radius:5px;
    outline:none;
}
.login_row:nth-child(3){
    padding:0;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    
}
.login-form-email,.login-form-password,.search{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:24px;
    color:#999999;
}


.login-form-submit{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
  
    background-color:#f27452;
    border-style: none;
}
.login_row .login_column{
    padding:0;
    margin:0;
    text-decoration: underline;
    text-decoration-color:#323232;
   
}
.login_column{
    display: flex;
    flex-direction: column;
   
}
.login_support{
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height:24px;
    color:#323232;
    text-decoration: underline;
    text-decoration-color:#323232;
    
    
}
.login-form-submit{
    border-radius: 50px;
    width:101px;
    height:44px;
}
.user-navigation_item--login:hover .login{
    visibility: visible;
}
.user-navigation_item--login:focus .login{
    visibility: visible;
}
.user-navigation_item--login:hover .login_support:hover{
    text-decoration-color:#e84d37;
    color: #e84d37;
}
/*-----------------Форма поиска-------------*/

.searching{
    width:342px;
    background-color:#f8f7f4;
    position: absolute;
    top:37px;
    right:0px;
    visibility: hidden;
    border-radius:5px;
    z-index: 20;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.search_row{
    margin: 0;
    margin:20px 16px;
}
.search_row input{
    border-style: none;
    border:1px solid #d3d3d2;
    border-radius:5px;
    
    padding-left:15px;
    width:295px;
    height:44px;
}
.search_row input:hover{
    border:2px solid #c7c6c5;
    border-radius:5px;
}
.search_row input:focus {
    border:2px solid #8fbdec;
    border-radius:5px;
    outline:none;
}
.user-navigation_item--search:hover .searching{
    visibility: visible;
}
.user-navigation_item--search:focus .searching{
    visibility: visible;
}
/*-----------Товары в корзине--------------*/

.cart-goods{
    margin: 0;
    padding: 0;
    background-color: white;
    visibility: hidden;
    position: absolute;
    z-index: 20;
    top:37px;
    right:0px;
    border-radius:10px;
    
    width: 540px;
    min-height: 191px;
    
    box-sizing: border-box;
    padding: 20px 16px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.cart-goods-table{
    margin: 0;
    padding: 0;
}
.cart-goods-table-row{
    margin: 0;
    padding: 0;
     font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height:16px;
    color:#323232;
    min-height: 33px;
    width:510px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom:10px;
}
.cart-goods-table-row:nth-last-child(1){
    margin-bottom:0;
}
.cart-goods-table-row td:nth-child(1){
    margin: 0;
    padding: 0;
    width:25px;
   
    
}
.cart-goods-table-row td:nth-child(2){
    margin: 0;
    padding: 0;
    width: 33px;
    padding-right:12px;
}
.icecream-pic-mini{
    height:32px;
    width: 32px;
}
.cart-goods-table-row td:nth-child(3){
    margin: 0;
    padding: 0;
    width: 230px;
    padding-top: 8px;
}
.cart-goods-table-row td:nth-child(4){
    margin: 0;
    padding:0;
    width: 117px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 8px;
}
.cart-goods-table-row td:nth-child(5){
    margin: 0;
    padding: 0;
    padding-left:25px;
    padding-top: 8px;
    width: 58px;
}
.cost-one-kg{
    color:#999999;
}
.total-cost{
    margin:0;
    padding:0;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height:47px;
    color:#323232;
}
.order-button{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
    
    box-sizing: border-box;
    width:172px;
    height: 45px;
    text-align: center;
    padding-top:11px;
   
}
.user-navigation_item--fullcart:hover .order-button{
     color:white;
}
.delete-cart-item{
    margin: 0;
    padding:0;
    height:33px;
    width: 25px;
    border:none;
    background-image: url(../img/svg-gllacy/cross-small.svg);
    background-repeat:no-repeat;
    background-position: 0% 45%;
    cursor:pointer;
    background-color: white;
}
.cart-goods-table-row:nth-last-child(1){
    padding-bottom:10px;
    border-bottom: 1px solid #ccccc9;
}
/*--------Главный слайдер------------*/
.slider {
    position: relative;
    padding-top: 313px;
    text-align: center;
    color: #ffffff;
    margin-bottom:41px;
}

.slider-list {
  margin: 0;
  padding: 0;  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}
.slide-button{
  display: inline-block;
  padding: 0px 41px;
  font-weight: 600;
  font-size: 32px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .main-container {
  background-color: #849d8f;
  background-image: url("../img/main-backround-1.png");
}

#product-2:checked ~ .main-container {
  background-color: #8996a6;
  background-image: url("../img/main-background-2.png");
}

#product-3:checked ~ .main-container {
  background-color: #9d8b84;
  background-image: url("../img/main-background-3.png");
}

#product-1:checked ~ .main-container #slide1,
#product-2:checked ~ .main-container #slide2,
#product-3:checked ~ .main-container #slide3 {
  display: block;
}

#product-1:checked ~ .main-container label[for="product-1"],
#product-2:checked ~ .main-container label[for="product-2"],
#product-3:checked ~ .main-container label[for="product-3"] {
  background-color: #ffffff;
}
label[for="product-1"]:hover ,
label[for="product-2"]:hover ,
label[for="product-3"]:hover 
{
    background-color: rgba(255,255,255,0.3);
}
label[for="product-1"]:active ,
label[for="product-2"]:active ,
label[for="product-3"]:active 
{
    background-color: rgba(255,255,255,1);
}
/*-----------Фильтр каталога--------*/
.catalog_filter{
    margin:0;
    padding 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 855px;
    min-height: 72px;
    margin-bottom:30px;
}
.catalog_filter-item{
    margin:0;
    padding 0;
    min-height: 74px;
 
}
.catalog_caption{
    margin: 0;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height:45px;
    margin-bottom: 18px;
}
.catalog_filter-title{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height:41px;
}
.catalog_filter-item:nth-child(1){
    width: 193px;
    box-sizing: border-box;
    cursor: pointer;  
}
.catalog_filter-item:nth-child(1) .filter-item-sub{
    width: 193px;
    box-sizing: border-box;
    padding: 0 10px;
    padding-top: 8px;
}
.catalog_filter-item:nth-child(3) {
    margin-right: -3px;
}
.filter-item-sub{
    margin:0;
    padding 0;
    color:white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
    min-height:36px;
}
.filter-item-sub>select{
    min-width: 160px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}
.filter-item-sub>select:hover{
    color:black;
}
.filter-item-sub>select:active{
    color:black;
}
.filter-item-sub>select:focus{
    color:black;
}
#radio-item-1,#radio-item-2,#radio-item-3,#radio-item-4,#checkbox-item-1,#checkbox-item-2,#checkbox-item-3,#checkbox-item-4,#checkbox-item-5{
   height:1px;
    width:1px;
    opacity:0;
}
.fat-1,.fat-2,.fat-3,.fat-4{
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    width:auto;
    background-image: url(../img/svg-gllacy/radio-off.svg);
    background-size:22px;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    padding-left:32px;
    padding-right: 8px;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:36px; 
    cursor: pointer;
}
.fat-4{
    padding-right: 17px;
    
}
.fat-1{
    
    background-position: 0% 47%;
    padding-left:33px;
    margin-left: 10px;
    
}
.fat-1:hover,.fat-2:hover,.fat-3:hover,.fat-4:hover{
    background-image: url(../img/svg-gllacy/radio-off-hover.svg);
    background-position: 0% 50%;
    background-repeat: no-repeat;
}
.catalog_filter-title{
    margin:0;
    padding-left:  15px;;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height:28px;
}


#radio-item-1:checked ~ .fat-1,
#radio-item-2:checked ~ .fat-2,
#radio-item-3:checked ~ .fat-3,
#radio-item-4:checked ~ .fat-4 {
    background-image: url(../img/svg-gllacy/radio-on.svg);
    background-repeat: no-repeat;
    cursor: pointer;
  
}
#radio-item-1:checked ~ .fat-1:hover,
#radio-item-2:checked ~ .fat-2:hover,
#radio-item-3:checked ~ .fat-3:hover,
#radio-item-4:checked ~ .fat-4:hover {
    background-image: url(../img/svg-gllacy/radio-on-hover.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}
#radio-item-1:focus  ~ .fat-1,
#radio-item-2:focus  ~ .fat-2,
#radio-item-3:focus  ~ .fat-3,
#radio-item-4:focus  ~ .fat-4 {
    background-image: url(../img/svg-gllacy/radio-on.svg);
    background-repeat: no-repeat;
    cursor: pointer;
  
}
#radio-item-1:checked:focus  ~ .fat-1,
#radio-item-2:checked:focus  ~ .fat-2,
#radio-item-3:checked:focus  ~ .fat-3,
#radio-item-4:checked:focus  ~ .fat-4{
    background-image: url(../img/svg-gllacy/radio-on-hover.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}
.filler-1,.filler-2,.filler-3,.filler-4,.filler-5{
    display: inline-block;
    height: 36px;
    width:auto;
    background-image: url(../img/svg-gllacy/checkbox-off.svg);
    background-repeat: no-repeat;
    
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 31px;
    
    margin-left: 11px;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:36px; 
    cursor: pointer;
}
.filler-3,.filler-4,.filler-5{margin-left:15px;}
.filler-5{
    margin-right:20px;
    margin-left: 13px;
}
.filler-1:hover,.filler-2:hover,.filler-3:hover,.filler-4:hover,.filler-5:hover{
    background-image: url(../img/svg-gllacy/checkbox-off-hover.svg);  
}
#checkbox-item-1:checked ~ .filler-1,
#checkbox-item-2:checked ~ .filler-2,
#checkbox-item-3:checked ~ .filler-3,
#checkbox-item-4:checked ~ .filler-4,
#checkbox-item-5:checked ~ .filler-5{
    background-image: url(../img/svg-gllacy/checkbox-on.svg);
    background-size: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
}
#checkbox-item-1:checked ~ .filler-1:hover,
#checkbox-item-2:checked ~ .filler-2:hover,
#checkbox-item-3:checked ~ .filler-3:hover,
#checkbox-item-4:checked ~ .filler-4:hover,
#checkbox-item-5:checked ~ .filler-5:hover{
    background-image: url(../img/svg-gllacy/checkbox-on-hover.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}
#checkbox-item-1:focus ~ .filler-1,
#checkbox-item-2:focus ~ .filler-2,
#checkbox-item-3:focus ~ .filler-3,
#checkbox-item-4:focus ~ .filler-4,
#checkbox-item-5:focus ~ .filler-5{
     background-image: url(../img/svg-gllacy/checkbox-off-hover.svg);  
}
#checkbox-item-1:checked:focus ~ .filler-1,
#checkbox-item-2:checked:focus ~ .filler-2,
#checkbox-item-3:checked:focus ~ .filler-3,
#checkbox-item-4:checked:focus ~ .filler-4,
#checkbox-item-5:checked:focus ~ .filler-5{
     background-image: url(../img/svg-gllacy/checkbox-on-hover.svg);  
}
.catalog_filter-button{
    color:white;
    background-color: rgba(255,255,255,0.20);
    border:2px solid white;
    border-radius: 50px;
    
    width:144px;
    height: 36px;
    margin-right:-5px;
    margin-top:28px;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:28px; 
    cursor: pointer;
}
.catalog_filter-button:hover{
    color:black;
    background-color: rgba(255,255,255,1);
}
.catalog_filter-button:active{
    background-color: #eaeaea;
    box-shadow: inset 0 2px 2px #6a6b6a;
    border:none;
}
.catalog_filter-button:focus{
    color:black;
    background-color: rgba(255,255,255,1);
}
/*-----------два ползунка------------------*/
.filter-item {
  margin: 0;
  padding: 0;
  width: 220px;
  margin: 50px auto; 
}

.range-filter {
    margin:0;
    padding:0;
  width: 220px;
  
}
.range-controls {
  position: relative;
  
  height: 18px;
  width: 179px;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: rgba(255,255,255,0.25);
  border-radius: 50px;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255,255,255,0.6);
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background-color: rgba(255,255,255,1);
}

.range-controls .toggle {
  position: absolute;
  top: 9px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
    font-size: 0;
    padding-left:17px;
}

.price-controls label {
    display: inline-block;
    width: auto;
  
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height:28px;
}

.price-controls input {
    width: 35px;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    
    color:white;
    background-color: rgba(0,0,0,0);
    border: none;
  
}

.max-price {
  text-align: right;
}
/*-----------Промо------------------*/
.promo{
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-between;
    width:1146px;
    margin-left: -1px;
    margin-bottom: 40px;
}
.promo_item{
    width:560px;
    height:229px;
    border-radius:17px;
}
.promo_item--buy{
    box-sizing: border-box;
    width:560px;
    height:229px;
    border-radius:17px;
    padding:0 19px;
    
}
.promo_item--raspberry{
   
    background-color: #610d1d;
    background-image: url("../img/raspberries-background.jpg");
    background-position:cover;
    background-repeat: no-repeat; 
    position: relative;
}
.promo_item--chocolate{
    background-color: #43271b;
    background-image: url("../img/chocolate-background.jpg");
    background-position:cover;
    background-repeat: no-repeat; 
    position: relative;
}
.promo_caption{
    margin:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height:72px;
   
}
 .promo_text{
    margin:0;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:22px;
}
.promo_button-buy--right{
    box-sizing: border-box;
    width:165px;
    display: block;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height:46px;
    padding: 0 22px;
    border-style: none;
    position: absolute;
    bottom:23px;
    right:21px;
    
    
}
.promo_button-buy--left{
    box-sizing: border-box;
    width:189px;
    display: block;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height:45px;
    padding: 0 21px;
    border-style: none;
    position: absolute;
    bottom:24px;
    right:21px;
    
}

/*-----------Карточка товара--------------*/
.catalog{
    display: flex;
    justify-content: space-between;
    margin:0;
    flex-wrap:wrap;
    margin-left: -1px;
}

.icecream-item{
    padding: 0;
    width:267px;
    height:321px;
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 41px;
   
    
}

.cost_text{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height:45px;
}
.cost_measure{
    margin-left:-1px;
    display: inline-block;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 28px;
    line-height:45px;
}
.cost_image{
    position: relative;
    top:3px;
}
.icecream-item_cost{
    padding: 0px;
    margin:0px;
    position: relative;
    bottom: 63px;
    right:58px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}
.icecream-item_description{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:22px;
    position: relative;
    bottom: 43px;
    z-index: 3;
    color: white;
    text-decoration:none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
}
.icecream-item_description:hover{
    cursor: pointer;
    color:#ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,0.3);
    
}
.icecream-item_button{
    margin:0 auto;
    display:block;
    visibility:hidden; 
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
    width:200px;
    height:34px;
    padding-top:11px;
    position: relative;
    bottom:30px;
}
.icecream-item:hover{
    position: relative;
    z-index:2;
}
.icecream-item:hover .icecream-item_button{
    visibility:visible; 
    position: relative;
    z-index:2;
    
}
.icecream-item:hover::before{
    content:"";
    position: absolute;
    left:-14px;
    top:-10px;
    z-index: 1;
    height:405px;
    width:294px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.icecream-item:focus{
    position: relative;
    z-index:2;
}
.icecream-item:focus .icecream-item_button{
    visibility:visible; 
    position: relative;
    z-index:2;
    
}
.icecream-item:focus::before{
    content:"";
    position: absolute;
    left:-14px;
    top:-10px;
    z-index: 1;
    height:405px;
    width:294px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
}
.icecream-item_pic{
    position:relative;
    z-index: 1;
}
.icecream-item_pic:hover{
    position:relative;
    z-index: 2;
}
.icecream-item--popular{
    width: 61px;
    height:61px;
    background-image: url(../img/hit.png);
    background-repeat: no-repeat;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 5;
}
/*-----------преимущества------------------*/
.features{
    
    margin:0 auto;
    background-color:#e9dcbf;
    background-image:url(../img/wafer-background.jpg);
    border-radius:15px;
    
    margin-bottom: 40px;
    padding:27px 20px;
    padding-bottom: 35px;
}
.features_container{
    margin-left:-1px;
    padding-top: 7px;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.features_caption{
    margin:0;
    padding: 0;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height:30px;
    color:#323232;
}
.features_item{
    padding: 0;
    margin:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height:22px;
    color:#323232;
    width:486px;
    padding-left:56px;
    height: 76px;
    padding-top: 13px;
    position: relative;
}
.features_item--modern::before {
content: "";
width: 49px;
height: 49px;
position: absolute;
left: 0;
top: 0;
background-image: url(../img/svg-gllacy/ice-cream.svg);
background-repeat: no-repeat;
}
.features-item--local::before{
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/svg-gllacy/cow.svg");
    background-repeat: no-repeat; 
}
.features-item--natural::before{
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/svg-gllacy/eco.svg");
    background-repeat: no-repeat; 
}
.features-item--delivery::before{
    content: "";
    width: 49px;
    height: 49px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/svg-gllacy/thermometer.svg");
    background-repeat: no-repeat; 
}
/*-----------промо и подписка--------------*/
.promo_article--blog{
    box-sizing: border-box;
    height:220px;
    background-image: url(../img/strawberry-background.jpg);
    background-size: cover;
    padding:24px 20px;
    
}
.promo_article--subscribe{
    box-sizing: border-box;
    height: 220px;
    background-image:url(../img/svg-gllacy/post-background.svg);
    background-size: cover;
    border-radius: 2px;
    
}
.promo_article{
    box-sizing: border-box;
    background-color:#f8f7f4;
    border-radius:10px;
    height: 210px;
    margin:5px;
    margin-left: 6px;
    padding: 0 20px;
    padding-top:29px;
    
}
.promo_title{
    margin:0;
    padding: 0;
    
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:22px;
    color:#323232;
}
.promo_blog-announce{
    margin:0;
    padding-top: 3px;
    
    display: block;
    width:300px;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height:30px;
    color:#323232;
}
.promo_blog-announce:hover{
    color:#e84d37;
}
.promo_blog-announce:active{
    color:#e84d37;
}
.promo-article-align{
    width:300px;
}
.promo_subscribe-description{
    margin:0;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:22px;
    color:#5a5a5a;
    padding-bottom: 20px;
    padding-bottom: 20px;
    
    
}
.promo_subscribe-form{
    display:flex;
    justify-content: space-between;
    
}
.promo_subscribe-form input{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    
    color:#999999;
    
    width:368px;
    height:44px;
    padding-left: 15px;
    
    border-style: none;
    border:1px solid #d3d3d2;
    border-radius:5px;
    box-sizing: border-box;
}
.promo_subscribe-form  input:hover{
    border:2px solid #c7c6c5;
    border-radius:5px;
}
.promo_subscribe-form  input:focus {
    border:2px solid #8fbdec;
    border-radius:5px;
    outline:none;
}

.promo_button{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
    color:white;
    
    width:128px;
    height: 43px;
    
    border-style: none;
    
}
/*-----------Контакты-----------------------*/
.contacts{
    margin: 0;
    margin-top:40px;
    height: 430px;
    background-color:#ebe6d0;
    background-image: url(../img/map-background.jpg);
    background-size: cover;
}
.contacts_inner{
    box-sizing: border-box;
    margin:0;
    padding:0;
    padding: 0 25px;
    padding-top: 29px;
    background-color:rgba(255,255,255,0.95);
    height:305px;
    width:302px;
    position: absolute;
    right:0px;
    top:62px;
    z-index: 2;
    border-radius:20px;
    
}
.contacts_text{
    margin:0;
    padding:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:20px;
    color:black;
}
.contacts_text-time{
     margin:0;
    padding:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:14px;
    color:black;
}
.contacts_address {
    margin:0;
    padding:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:23px;
    color:black;
}
.contacts_mobile{
     margin:0;
    padding:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:33px;
    color:black;
}
.contacts_address {
    padding-top: 3px;
    padding-bottom: 18px;
}
.contacts_mobile{
    text-decoration: none;
    display: block;
    padding-top: 
    
}
.contacts_button{
    margin-top: 26px;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:44px;
    
    display: block;
    padding: 0px 27px;
}
/*-----------Пагинатор------------------------*/
.pagination{
    margin: 0;
    padding: 0;
    width: 195px;
    margin-left: auto;
    margin-top:43px;
    margin-bottom:30px;
}
.pagination_list{
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    position: relative;
    
}
.pagination_item{
    width:25px;
    height: 25px;
    border-radius:50px;
    text-align: center;
    position: relative;
    margin:0 ;  
}
.pagination_item:hover{
    background-color: rgba(255,255,255,0.3);
}
.pagination_item:active{
    background-color: white;
}
.pagination_item:active a{
    color:black;
}

.pagination_item a {
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:25px;
    color:white;
    text-decoration: none;
}
.pagination_item--forward{
    width:21px;
    background-image: url(../img/icon-right-small.png);
    background-repeat:no-repeat;
    background-position: 90% 50%
}.pagination_item--backward{
    
    background-image: url(../img/icon-left-small.png);
    background-repeat:no-repeat;
    background-position: 25% 50%
}
.pagination_item--backward a{
    color: #9bafa4;
}
.pagination_item--onpage a{
    color: black;
}
.pagination_item--onpage{
    background-color: white;
}

/*-----------Подвал------------------------*/
.footer-flex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}
.social{
    margin-top:36px;
    display: flex;
    justify-content: space-between;
    width:185px;
    height:38px;
    
}
.social_button{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height:18px;
    color:white;
    text-decoration: none;
    height: 38px;
    width: 38px;
    border:3px solid rgba(255,255,255,0.3);
    border-radius:50px;
    box-sizing: border-box;
    
    
}
.social_button--twitter:hover,
.social_button--instagram:hover,
.social_button--facebook:hover,
.social_button--vkontakte:hover{
    border:3px solid rgba(255,255,255,0.5);
}
.social_button--twitter:hover .cls-1,
.social_button--instagram:hover .cls-2,
.social_button--facebook:hover .cls-3,
.social_button--vkontakte:hover .cls-4{
    opacity: 1;
}
.social_button--twitter:active .cls-1,
.social_button--instagram:active .cls-2,
.social_button--facebook:active .cls-3,
.social_button--vkontakte:active .cls-4{
    opacity: 0.8;
}
.social_button--twitter:active,
.social_button--instagram:active,
.social_button--facebook:active,
.social_button--vkontakte:active{
    border:3px solid rgba(255,255,255,0.5);
}
.about-us{
    margin-top:33px;
    margin-left:-9px;
    display: flex;
    flex-wrap: wrap;
    width:332px;
    height:42px;
    
}
.about-us_link{
    padding:0;
    margin:0;
    
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height:19px;
    color:white;
    text-decoration: none;
    
    width:163px;
    height:21px;
}
.about-us_link:nth-child(3){
    width:143px;
    padding-top:1px;
    padding-left:20px;
    
}
.about-us_link--heart{
    
    width:143px;
    padding-left:20px;
    
    font-weight: 700;
    background-image: url(../img/svg-gllacy/heart.svg) ;
    background-repeat: no-repeat;
    background-position: 0% 40%;
    
}
.about-us_link:hover , .developers_link:hover a{
    color:#ffbc9e;
}
.developers{
    margin-top: 18px;
    margin-right: 2px;
    
}
.developers_link{
    display:block;
    margin: 0;
    padding:0;
    margin-right: 
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height:18px;
    
    }
.developers_link a{
    color:white;
    text-decoration: none;
}
/*-----------обратная связь------------------------*/
.feedback{
    width:451px;
    height:423px;
    background-color: #f8f7f4;
    border-radius:10px;
    padding-left: 27px;
    padding-top: 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
    position: absolute;
    top:185vh;
    left: 29%;
    display:none;
    z-index: 25;
}
.feedback-show{
    display: block;
    animation: bounce 0.6s;
}
.feedback-error {
  animation: shake 0.6s;
}
.feedback_form--item{
    margin:0;
    margin-top:18px;
}

.feedback_form--item  input:hover{
    border:2px solid #c7c6c5;
    border-radius:5px;
}
.feedback_form--item input:focus {
    border:2px solid #8fbdec;
    border-radius:5px;
    outline:none;
}
.feedback-name,.feedback-email,.feedback-text{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height:24px;
    color: #999999; 
    border-style: none;
    border:1px solid #d3d3d2;
}
.feedback-name,.feedback-email{
    border-radius: 5px;
    min-height:44px;
    min-width:267px;
    padding-left:14px;
    box-sizing: border-box;
}
.feedback-text{
    width:428px;
    height:155px;
    box-sizing: border-box;
}
.feedback-text:hover{
     border:2px solid #c7c6c5;
    border-radius:5px;
}
.feedback-text:focus {
    border:2px solid #8fbdec;
    border-radius:5px;
    outline:none;
}
.feedback_caption{
    margin:0;
    
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height:28px;
    color: #323232;
    
    
}
.feedback_close{
    display: block;
    height: 20px;
    width: 20px;
    position:absolute;
    top:15px;
    right:15px;
    background-image: url(../img/svg-gllacy/cross-big.svg);
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-color: #f8f7f4;
    border:none;
}
.feedback_close:hover{
    background-image: url(../img/svg-gllacy/cross-small.svg);
}
.feedback_button{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:24px;
    border-style: none;
    width:139px;
    height:44px;
    position:absolute;
    right:27px;
}
@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.cls-1 ,.cls-2 ,.cls-3 ,.cls-4 {
        opacity: 0.8;
      }

.black{
    position: fixed;
    background-color: rgba(1,1,1,0.2);
    width:100vw;
    height: 100vh;
    z-index:21;
    transition: background-color 0.5s ease;
   
}